<a href="https://colab.research.google.com/github/Ruy8/RuyAramis_Mineria/blob/main/Ej_Python_1863861.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
#Ejercicio 1

a = 1863861
b = input("Ingrese su nombre: ")

print(b,a)

Ingrese su nombre: Ruy Aramis Lopez Verduzco
Ruy Aramis Lopez Verduzco 1863861

In [122]:
#Ejercicio 2

x = int(input("Ingrese el primer número: "))
y = int(input("Ingrese el segundo número:"))
opc = input("Ingrese el operador matemático a manejar: ")
if opc == '+':
  suma = x+y
  print("La suma de los dos números es: ", suma)
elif opc == '-':
  resta = x-y
  print("La resta de los dos números es: ", resta)
elif opc == '*':
  mult = x*y
  print("La multiplicación de los dos números es: ",mult)
elif opc == '/':
  div = x/y
  print("La división entre los dos números es: ", div)
elif opc == '^':
  exp = x**y
  print("El primer número elevado al segundo número es: ", exp)
else:
  print("Usted ingreso un operador no valido")

Ingrese el primer número: 9
Ingrese el segundo número:2
Ingrese el operador matemático a manejar: ^
El primer número elevado al segundo número es:  81

In [123]:
#Ejercicio 3

multiplos = list()
i = 0
suma = 0
for i in range(1,31):
  if i%3==0:
    multiplos.append(i)

for i in multiplos:
  suma = suma + i

print(multiplos)
print(suma)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
165

In [126]:
#Ejercicio 4

np = 0
p = 0
c = int(input("Ingrese un número:"))

if c%2==0:
  print("El número es par")
else:
  print("El número es impar")

for i in range(2,c):
  if c%i == 0:
    np = np+1
  else:
    p = p+1

if np == 0:
  print("El número es primo")
else:
  print("El número no es primo")

Ingrese un número:2
El número es par
El número es primo

In [127]:
#Tuplas 1

a = 5
b = 8.548
c = 4 + 8j
d = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [128]:
#Tuplas 2

t1 = (6,8,12,19,26,35)

print("Primer elemento: ", t1[0])
print("Último elemento: ", t1[5])

Primer elemento:  6
Último elemento:  35

In [129]:
#Tuplas 3

t2 = ('Madrid', 'Barcelona', 'Paris')
t2 = t2 + ('Milan',) + ('Valencia',) + ('Liverpool',)

print(t2)

('Madrid', 'Barcelona', 'Paris', 'Milan', 'Valencia', 'Liverpool')

In [130]:
#Tuplas 4

t5 = (5, 5.5, 'Deku', 4,15,89)

print("¿Se encuentra el nombre Deku en la tupla?", 'Deku' in t5)

¿Se encuentra el nombre Deku en la tupla? True

In [131]:
#Listas 1
import random as r
i = 0
L1 = []

for i in range(40):
  num = r.randint(1,500)
  L1.append(num)

print(L1)

[289, 335, 380, 378, 108, 221, 432, 9, 450, 395, 203, 400, 334, 175, 205, 171, 197, 161, 67, 4, 399, 130, 422, 135, 170, 225, 370, 477, 446, 60, 124, 242, 154, 496, 307, 20, 460, 91, 325, 3]

In [132]:
#Listas 2 

import random as r
i = 0
L1 = []

for i in range(40):
  num = r.randint(1,500)
  L1.append(num)
def Numeros(L1):
  LP = []
  LIP = []
  for element in L1:
    if element%2 == 0:
      LP.append(element)
    else:
      LIP.append(element)
  print(LP)
  print(LIP)

print(L1)
Numeros(L1)

[199, 108, 468, 434, 59, 8, 75, 432, 15, 420, 463, 155, 147, 431, 253, 315, 86, 16, 49, 380, 393, 407, 412, 241, 137, 483, 258, 430, 391, 453, 126, 184, 195, 214, 269, 104, 455, 460, 132, 158]
[108, 468, 434, 8, 432, 420, 86, 16, 380, 412, 258, 430, 126, 184, 214, 104, 460, 132, 158]
[199, 59, 75, 15, 463, 155, 147, 431, 253, 315, 49, 393, 407, 241, 137, 483, 391, 453, 195, 269, 455]

In [134]:
#Listas 3 

import random as r
i = 0
L1 = []

for i in range(40):
  num = r.randint(1,500)
  L1.append(num)
def Numeros(L1):
  LP = []
  LIP = []
  for element in L1:
    if element%2 == 0:
      LP.append(element)
    else:
      LIP.append(element)
  print(LP)
  print(LIP)

X = print("La longitud de la lista de números pares es:", len(LP))
Y = print("La longitud de la lista de números impares es:", len(LIP))

La longitud de la lista de números pares es: 18
La longitud de la lista de números impares es: 22

In [135]:
#Listas 4

import random as r
i = 0
L1 = []

for i in range(40):
  num = r.randint(1,500)
  L1.append(num)
def Numeros(L1):
  LP = []
  LIP = []
  for element in L1:
    if element%2 == 0:
      LP.append(element)
    else:
      LIP.append(element)
  LP.sort(reverse=True)
  LIP.sort()
  print(LP)
  print(LIP)

Numeros(L1)

[488, 400, 388, 364, 360, 346, 334, 272, 230, 194, 194, 186, 168, 136, 116, 96, 88, 84, 48, 8]
[7, 39, 69, 93, 119, 151, 159, 163, 169, 193, 201, 239, 263, 293, 313, 351, 415, 431, 485, 489]

In [136]:
#Listas 5

import random as r
i = 0
L1 = []

for i in range(40):
  num = r.randint(1,500)
  L1.append(num)

print(L1)
L1.copy()
print(L1)
L1.reverse()
print(L1)
L1.extend([88,96,424])
print(L1)
L1.clear()
print(L1)

[398, 6, 285, 175, 209, 167, 185, 123, 232, 156, 137, 144, 460, 21, 432, 232, 369, 320, 158, 225, 382, 137, 450, 459, 25, 128, 292, 319, 239, 69, 218, 461, 246, 451, 203, 392, 275, 191, 28, 401]
[398, 6, 285, 175, 209, 167, 185, 123, 232, 156, 137, 144, 460, 21, 432, 232, 369, 320, 158, 225, 382, 137, 450, 459, 25, 128, 292, 319, 239, 69, 218, 461, 246, 451, 203, 392, 275, 191, 28, 401]
[401, 28, 191, 275, 392, 203, 451, 246, 461, 218, 69, 239, 319, 292, 128, 25, 459, 450, 137, 382, 225, 158, 320, 369, 232, 432, 21, 460, 144, 137, 156, 232, 123, 185, 167, 209, 175, 285, 6, 398]
[401, 28, 191, 275, 392, 203, 451, 246, 461, 218, 69, 239, 319, 292, 128, 25, 459, 450, 137, 382, 225, 158, 320, 369, 232, 432, 21, 460, 144, 137, 156, 232, 123, 185, 167, 209, 175, 285, 6, 398, 88, 96, 424]
[]

In [137]:
#Diccionarios 1
dic = {'Alan':25, 'Keving':26, 'Edson':31, 'Barbara':24, 'Mauricio':20, 'Thalia':21}

print(dic)

{'Alan': 25, 'Keving': 26, 'Edson': 31, 'Barbara': 24, 'Mauricio': 20, 'Thalia': 21}

In [138]:
#Diccionarios 2

dic = {'Alan':25, 'Keving':26, 'Edson':31, 'Barbara':24, 'Mauricio':20, 'Thalia':21}

edad = [25,26,31,24,20,21]
edad.sort()
print(edad)

[20, 21, 24, 25, 26, 31]

In [139]:
#Diccionarios 3

dic = {'Alan':25, 'Keving':26, 'Edson':31, 'Barbara':24, 'Mauricio':20, 'Thalia':21}

for key in dic:
  print(key)

Alan
Keving
Edson
Barbara
Mauricio
Thalia

In [140]:
#Diccionarios 4

dic = {'Alan':25, 'Keving':26, 'Edson':31, 'Barbara':24, 'Mauricio':20, 'Thalia':21}

dic['Irving']=31
dic['Clarissa']=20

print(dic)

{'Alan': 25, 'Keving': 26, 'Edson': 31, 'Barbara': 24, 'Mauricio': 20, 'Thalia': 21, 'Irving': 31, 'Clarissa': 20}

In [142]:
#Sets 1
import random as r
set1=set()
for i in range(100):
  num = r.randint(1,25)
  set1.add(num)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [145]:
#Sets 2
import random as r
set1=set()
for i in range(100):
  num = r.randint(1,25)
  set1.add(num)

print("La longitud del set es:", len(set1))

La longitud del set es: 25

In [146]:
#Sets 3
import random as r
set2 = set()
lista1=[]
for i in range(5):
  num = r.randint(1,11)
  set2.add(num)

for i in range(5):
  num = r.randint(1,11)
  lista1.append(num)

print(set2)
print(lista1)

{3, 4, 5, 9, 10}
[8, 2, 3, 10, 11]